export VIRTUAL_ENV=env
PATH_add "$VIRTUAL_ENV/bin"
export LDFLAGS="-L/usr/local/opt/openssl/lib -L/usr/local/opt/zlib/lib"
export CPPFLAGS="-I/usr/local/opt/openssl/include -I/usr/local/opt/zlib/include"
export PKG_CONFIG_PATH="/usr/local/opt/openssl/lib/pkgconfig /usr/local/opt/zlib/lib/pkgconfig"
export CFLAGS="-I/usr/local/opt/zlib/include"