# mac
.DS_Store
xcuserdata/
# npm
node_modules/
dist/
build/
.svelte-kit/
npm-debug.log*

# vscode
.vscode

# Local Netlify folder
.netlify

# Playwright
test-results/
playwright-report/
playwright/.cache/
