@import "variables";

* {
    font-family: "Inconsolata", "Rubik", -apple-system, sans-serif;
    text-decoration: none;
}
//https://medium.com/@mwichary/dark-theme-in-a-day-3518dde2955a
html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 500ms linear !important;
  transition-delay: 0 !important;
}

html,
body {
    height: 100%;
}
body {
    margin: 0px;
    display: flex;
    justify-content: center;
}
p {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4;
    max-width: 26em;
}
a {
    text-decoration: none;
}
svg {
    opacity: .75;
    transition: opacity .5s ease-in-out;
}
svg:hover {
    opacity: 1;
}
.hey {
    font-weight: bold;
    font-size: 1.6em;
}
.flip {
    overflow: hidden;
    transition-duration: 1s;
    transition-property: transform;
}
.flip-v2 {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.cuerpo {
    width: 100%;
    max-width: 970px;
    padding: 5vh 5vw;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: normal;
    justify-content: flex-start;
}
.content {
    flex: 0 0 100%;
    max-width: 100%;
    @media screen and (min-width: $break-large) {
        flex: 0 0 75%;
        max-width: 75%;
    }
}
.links {
    flex: 0 0 100%;
    max-width: 50%;
    @media screen and (min-width: $break-large) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.content {
    flex: 0 0 75%;
    max-width: 75%;
}
.column {
    box-sizing: border-box;
    min-height: 1px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    right: auto;
    left: auto;
}
