* {
    font-family: 'Inconsolata';
}
.flip {
    overflow: hidden;
    transition-duration: 1s;
    transition-property: transform;
}
.flip-v2 {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.normal {
    color: rgba(23, 23, 23, 0.8);
    background-color: rgba(247, 247, 247, 0.8);
}
.dark {
    color: rgba(247, 247, 247, 0.8);
    background-color: rgba(23, 23, 23, 0.8);
}