@import "variables";

* {
    font-family: "Inconsolata", "Rubik", -apple-system, sans-serif;
    text-decoration: none;
}
html, body {
}
body {
    margin: 8px;
}
p {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4;
    max-width: 26em;
}
a {
    text-decoration: none;
    font-weight: bold;
}
.hey {
    font-weight: bold;
}
.flip {
    overflow: hidden;
    transition-duration: 1s;
    transition-property: transform;
}
.flip-v2 {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.normal-theme {
    color: $black-text;
    background-color: $white-backg;
    a {
        color: $black-text;
        letter-spacing: -1px;
    }
}
.dark-theme {
    color: $white-text;
    background-color: $black-backg
}
.cuerpo {
    max-width: 970px;
    padding: 5vh 10vw;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: normal;
    justify-content: flex-start;
}
.links {
    flex: 0 0 25%;
    max-width: 25%;

}
.content {
    flex: 0 0 100%;
    max-width: 100%;
    @media screen and (min-width: $break-large) {
        flex: 0 0 75%;
        max-width: 75%;
    }
}
.links {
    flex: 0 0 100%;
    max-width: 100%;
    @media screen and (min-width: $break-large) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.content {
    flex: 0 0 75%;
    max-width: 75%;
}
.column {
    box-sizing: border-box;
    min-height: 1px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin-left: 0%;
    right: auto;
    left: auto;
}
