@import "variables";

.nav-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    li {
        list-style-type: none;
        padding-bottom: 10px;
        @media screen and (min-width: $break-large) {
        }
    }
}
.router-link-exact-active {
    a {
        border-bottom: solid 1px $gray;
    }
}
.nav-items {
    display: block;
    margin: 15px 0 15px auto;
}
hr {
    border: 0;
    width: 96%;
    height: 1px;
}
