@import "variables";

.nav-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

      li {
          list-style-type: none;
          padding: 10px 0;
      }

      li a {
          color: $dark-text;
          font-size: 16px;
          font-weight: 900;
          letter-spacing: -1px;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
              color: $light-text;
          }
      }

      .line {
        border-bottom: 2px solid $dark-text;
        margin: 30px 0 30px auto;
        width: 100px;
      }

      div.text-section {
        margin-bottom: 10px;
      }
  }
