.light-theme {
    color: $black-text;
    background-color: $light-backg;
    a {
        color: $blue-light-text;
        &:hover {
            color: $gray-text;
        }
    }
}
.dark-theme {
    color: $white-text;
    background-color: $dark-backg;
    a {
        color: $blue-dark-text;
        &:hover {
            color: $gray-text;
        }
    }
}
