@mixin anchorLightColor{
    color: $blue;
    a {
        color: $blue;
    }
}
@mixin anchorDarkColor{
    color: $purple;
    a {
        color: $purple;
    }
}

.light-theme {
    color: $gray;
    background-color: $white;
    .nav-header {
        @include anchorLightColor;
    }
    .corner {
        @include anchorLightColor;
    }
    hr {
        background-color: $botticelli;
    }
}
.dark-theme {
    color: $botticelli;
    background-color: $blackpearl;
    .nav-header {
        @include anchorDarkColor;
    }
    .corner {
        @include anchorDarkColor;
    }
    hr {
        background-color: $botticelli;
    }
}
