$black-text: rgb(25, 26, 28);
$gray-text: rgb(102, 102, 102);
$white-text: rgb(154, 164, 175);
$blue-light-text: rgb(0, 123, 255);
$blue-dark-text: rgb(111, 180, 250);

$dark-backg: rgb(24, 30, 36);
$light-backg: rgb(247, 247, 247);

$break-large: 768px
