$black: rgb(51, 51, 51);
$gray: rgb(85, 85, 85);
$botticelli: rgb(154, 164, 175);
$hacienda: rgb(158, 117, 32);
$blue: rgb(0, 123, 255);
$blue-fade: rgb(111, 180, 250);
$red: rgb(244, 42, 82);
$yellow: rgb(208, 169, 11);

$blackpearl: rgb(24, 30, 36);
$white: rgb(255, 255, 255);

$break-large: 768px
