$black: rgb(25, 26, 28);
$gray: rgb(102, 102, 102);
$botticelli: rgb(154, 164, 175);
$goldred: rgb(218,165,32);
$blue-light: rgb(0, 123, 255);
$blue-dark: rgb(111, 180, 250);

$blackpearl: rgb(24, 30, 36);
$whitesmoke: rgb(247, 247, 247);

$break-large: 768px
