@import "variables";

.corner {
    display: none;
    @media screen and (min-width: $break-large) {
        display: block;
    }
}
.tooltip {
    display: block !important;
    z-index: 5;

    .tooltip-inner {
        font-size: 0.7em;
        border-radius: 16px;
        padding: 3vh;
        border-radius: 5px;
        box-shadow: 0 5px 30px rgba(black, .1);
        max-width: 250px;
    }
    .tooltip-arrow {
        display: none;
    }
    &[x-placement^="top"] {
        margin-bottom: 5px;
    }
    &[x-placement^="bottom"] {
        margin-top: 5px;
    }
    &[x-placement^="right"] {
         margin-left: 5px;
    }
    &[x-placement^="left"] {
        margin-right: 5px;
    }
    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity 150ms, visibility 150ms;
    }
    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity 150ms;
    }
}
