// latin
@font-face {
    font-family: 'rubik';
    src: url('/assets/fonts/rubik.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ibm';
    src: url('/assets/fonts/ibm.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


// arabic
@font-face {
    font-family: 'kfgqpc';
    src: url('/assets/fonts/kfgqpc.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aref-ruqaa';
    src: url('/assets/fonts/aref-ruqaa.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

// latin
.font-rubik {
    font-family: 'rubik', -apple-system, sans-serif;
}
.font-ibm {
    font-family: 'ibm', -apple-system, sans-serif;
}


// arabic
.font-kfgqpc {
    font-family: 'kfgqpc', -apple-system, sans-serif;
}
.font-aref-ruqaa {
    font-family: 'aref-ruqaa', -apple-system, sans-serif;
}
