@font-face {
    font-family: 'nps';
    src: url('/assets/fonts/nps_regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nps';
    src: url('/assets/fonts/nps_heavy.otf') format('opentype');
    font-weight: bold;
    font-style: bold;
}
.regular-font {
    font-family: "Inconsolata", "Rubik", -apple-system, sans-serif;
}
.nps-font {
    font-family: "nps";
}
