@font-face {
    font-family: 'nps';
    src: url('/assets/fonts/nps_regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nps-heavy';
    src: url('/assets/fonts/nps_heavy.otf') format('opentype');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'amiri';
    src: url('/assets/fonts/amiri-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kfgqpc';
    src: url('/assets/fonts/kfgqpc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'geeza';
    src: url('/assets/fonts/geeza.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.amiri-font {
    font-family: 'amiri', sans-serif;
}
.kfgqpc-font {
    font-family: 'kfgqpc', sans-serif;
}
.geeza-font {
    font-family: 'geeza', sans-serif;
}
.latin-font {
    font-family: 'Inconsolata', 'Rubik', -apple-system, sans-serif;
}
.nps-font {
    font-family: 'nps', 'Rubik', -apple-system, sans-serif;
}
.nps-heavy-font {
    font-family: 'nps-heavy', 'Rubik', -apple-system, sans-serif;
}
