@import "variables";
@import "fonts";

* {
    white-space: pre-wrap;
    text-decoration: none;
}
//https://medium.com/@mwichary/dark-theme-in-a-day-3518dde2955a
html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
    transition: background-color 375ms linear;
}
html {
    height: 100vh;
}
body {
    margin: 0px;
    display: flex;
    justify-content: center;
    padding: 0 10vw;
    height: 100vh;
    perspective: 500px;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
}
// phone
@media (max-width: $screen-phone-max) {
    html {
        height: 96vh;
    }
    body {
        min-height: 96vh;
        padding: 2vh 5vw;
    }
}

p {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4;
    max-width: 34em;
}
a {
    text-decoration: none;
}

.flip-prep {
    overflow: hidden;
    transition-property: transform;
}
.flip-right {
    animation: rotation-right 0.75s 1 linear;
}
.flip-left {
    animation: rotation-left 0.75s 1 linear;
}
@keyframes rotation-right {
    // 50% {n
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotation-left {
    100% {
        transform: rotate(-360deg);
    }
}
#cuerpo {

    //transition stuff
    backface-visibility: hidden;
    transition: 100ms;
    &.keydown {
        transform: translateZ(-50px);
    }
    &.keydown._ArrowDown,
    &.keydown._s,
    &.keydown._S {
        transform: rotateX(-15deg);
    }
    &.keydown._ArrowLeft,
    &.keydown._a,
    &.keydown._A {
        transform: rotateY(-10deg);
    }
    &.keydown._ArrowRight,
    &.keydown._d,
    &.keydown._D {
        transform: rotateY(10deg);
    }
    &.keydown._ArrowUp,
    &.keydown._w,
    &.keydown._W {
        transform: rotateX(15deg);
    }
}

.right-to-left {
    direction: rtl;
}

.section-anim-ltr,
.section-anim-rtl {
    animation-duration: 500ms;
    animation-timing-function: ease-out;
}

.section-anim-ltr {
    animation-name: sectionAnimLTR;
}

.section-anim-rtl {
    animation-name: sectionAnimRTL;
}

@keyframes sectionAnimLTR {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sectionAnimRTL {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
