@import "variables";
@import "fonts";

* {
    white-space: pre-wrap;
    text-decoration: none;
}
//https://medium.com/@mwichary/dark-theme-in-a-day-3518dde2955a
html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
    transition: background-color 375ms ease-in-out;
}
html,
body {
    max-height: 100%;
}
body {
    margin: 0px;
    display: flex;
    justify-content: center;
    padding: 5vh 10vw;
    perspective: 500px;
    transform-style: preserve-3d;
}
p {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4;
    max-width: 26em;
}
a {
    text-decoration: none;
}

.flip-prep {
    overflow: hidden;
    transition-property: transform;
}
.flip-right {
    animation: rotation-right 2s 1 ease-in-out alternate;
}
.flip-left {
    animation: rotation-left 2s 1 ease-in-out alternate;
}
@keyframes rotation-right {
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes rotation-left {
    50% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
#cuerpo {
    width: 100%;
    max-width: 970px;
    padding: 5vh 5vw;
    height: 100%;

    //transition stuff
    backface-visibility: hidden;
    transition: 200ms;
    &.keydown {
        transform: rotate(0deg);
        transform: translateZ(-50px);
    }
    &.keydown._ArrowDown,
    &.keydown._s,
    &.keydown._S {
        transform: rotateX(-15deg);
    }
    &.keydown._ArrowLeft,
    &.keydown._a,
    &.keydown._A {
        transform: rotateY(-10deg);
    }
    &.keydown._ArrowRight,
    &.keydown._d,
    &.keydown._D {
        transform: rotateY(10deg);
    }
    &.keydown._ArrowUp,
    &.keydown._w,
    &.keydown._W {
        transform: rotateX(15deg);
    }
}

.right-to-left {
    direction: rtl;
}

.section-anim-ltr,
.section-anim-rtl {
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.section-anim-ltr {
    animation-name: sectionAnimLTR;
}

.section-anim-rtl {
    animation-name: sectionAnimRTL;
}

@keyframes sectionAnimLTR {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sectionAnimRTL {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
