.home-text {
    float: left;
}
.home-settings {
    float: right;
    padding-top: 1vw;
}

.home-title {
    font-weight: 400;
    font-size: 1.6em;
}

.right-to-left {
    .home-text {
        float: right;
    }
    .home-settings {
        float: left;
    }
}
