.lang-item {
	white-space: normal;
	opacity: .75;
	cursor: pointer;
	list-style-type: none;
	margin-right: 7px;
	&:hover {
		opacity: 1;
	}
}
.selected-lang {
	cursor: default;
	opacity: 1;
	text-decoration: underline;
}
ul {
	padding: 0;
}
li {
	display:inline;
  }
