@import "variables";

.nav-header {
    display: flex;
    flex-direction: column;
    text-align: right;
    @media screen and (min-width: $break-large) {
        padding-top: 10vh;
    }
    .nav-items {
        margin-bottom: 4vh;
    }
}
.nav-items {
    display: block;
    margin: 0vh 0vh 0vh auto;
}
hr {
    border: 0;
    width: 80%;
    height: 1px;
    margin: 3vh 0vh 3vh auto;
}
.svg-inline--fa {
    font-size: 1.5em;
    opacity: .75;
    margin-left: 0.35vw;
}
.svg-inline--fa:hover {
    opacity: 1;
}
.icons {
    a {
        cursor: pointer;
        opacity: 1;
    }
}
