@mixin lightColors() {
    color: $blue;
}
@mixin darkColors() {
    color: $purple;
}

@mixin lightTheme {
    color: $gray;
    background-color: $white;
    .icon {
        @include lightColors;
    }
    .langs-list {
        @include lightColors;
    }
    .toggle {
        @include lightColors;
    }
    .grid-footer {
        a {
            color: $blue;
        }
    }
    .selected-lang {
        text-decoration-color: darken($blue, 15%);
    }
    a {
      color: darken($blue, 15%);
    }
    #subtoggle {
        &:before {
            background-color: $blue;
        }
    }
    .toolTip:after {
      background-color: $blue-highlight;
    }
    
}

@mixin darkTheme {
    color: $botticelli;
    background-color: $blackpearl;
    .icon {
        @include darkColors;
    }
    .langs-list {
        @include darkColors;
    }
    .toggle {
        @include darkColors;
    }
    .grid-footer {
        a {
            color: $purple;
        }
    }
    .selected-lang, a {
        text-decoration-color: darken($purple, 15%);
    }
    a {
      color: darken($purple, 15%);
    }
    #subtoggle {
        &:before {
            background-color: $purple;
        }
    }
    .toolTip:after {
      background-color: $purple-highlight;
    }
}

@media (prefers-color-scheme: light) {
    @include lightTheme;
}
.light-theme {
    @include lightTheme;
}

@media (prefers-color-scheme: dark) {
    @include darkTheme;
}
.dark-theme {
    @include darkTheme;
}
