// light theme
$gray: rgb(80, 80, 80); //text
$blue: rgb(0, 123, 255);    //icons
// -- (background)
$white: rgb(255, 255, 255);
// -- (alt)
$red: rgb(244, 42, 82);

// dark theme
$botticelli: rgb(154, 164, 175);    //text
$purple: rgb(187, 134, 252);    //icons
// -- (background)
$blackpearl: rgb(24, 24, 24);
// --  (alt)
$yellow: rgb(208, 169, 11);
// -- tooltip
$gray-dark: rgb(39, 39, 39);

// not used
$outer-space: rgb(43, 61, 69);

$screen-tablet-max: 1200px;
$screen-tablet-min: 767.01px;
$screen-phone-max: 767px;

