@mixin lightColors() {
    color: $blue;
    a {
        color: $blue;
    }
    #subtoggle {
        &:before {
            background-color: $blue;
        }
    }
}
@mixin lightColorsAlt() {
    color: $red;
    a {
        color: $red;
    }
    #subtoggle {
        &:before {
            background-color: $red;
        }
    }
}
@mixin darkColors() {
    color: $purple;
    a {
        color: $purple;
    }
    #subtoggle {
        &:before {
            background-color: $purple;
        }
    }
}
@mixin darkColorsAlt() {
        color: $yellow;
        a {
            color: $yellow;
        }
        #subtoggle {
            &:before {
              background-color: $yellow;
            }
        }
}
@mixin lightTheme {
    color: $gray;
    background-color: $white;
    .nav-header {
        @include lightColors;
    }
    .corner {
        @include lightColors;
    }
    .toggle {
        @include lightColors;
    }
    hr {
        background-color: $botticelli;
    }
    .tooltip-inner {
        color: $white;
        background-color: $gray;
    }
}
@mixin lightThemeAlt {
    .nav-header {
        @include lightColorsAlt;
    }
    .corner {
        @include lightColorsAlt;
    }
    .toggle {
        @include lightColorsAlt;
    }
}
@mixin darkTheme {
    color: $botticelli;
    background-color: $blackpearl;
    .nav-header {
        @include darkColors;
    }
    .corner {
        @include darkColors;
    }
    .toggle {
        @include darkColors;
    }
    hr {
        background-color: $botticelli;
    }
    .tooltip-inner {
        color: $botticelli;
        background-color: $gray-dark;
    }
}
@mixin darkThemeAlt {
    .nav-header {
        @include darkColorsAlt;
    }
    .corner {
        @include darkColorsAlt;
    }
    .toggle {
        @include darkColorsAlt;
    }
}

@media (prefers-color-scheme: light) {
    @include lightTheme;
}
.light-theme {
    @include lightTheme;
}
.light-theme.alt-colors {
    @include lightThemeAlt;
}

@media (prefers-color-scheme: dark) {
    @include darkTheme;
}
.dark-theme {
    @include darkTheme;
}
.dark-theme.alt-colors {
    @include darkThemeAlt;
}
